<h3> Purchase Form </h3>
  <form action="/product/{{product['id']}}/apply" method="post">
    <div class="mb-2">
      <label>Full Name</label><br>
      <input type="text" required name="full_name" placeholder="Bruce Wayne">
      </div>

      <div class="mb-2">
      <label>Email</label><br>
      <input type="email" required name="email" placeholder="bruce@wayne.com">
      </div>
      <div class="mb-2">
      <label>Phone Number</label><br>
      <input type="text" required name="phone_no" placeholder="9841****12">
  
      <div class="mb-2">
        <label>Address</label><br>
        <input type="text" required name="Address" placeholder="Tahachal,Kathmandu">
  
      <div class="mb-2">
      <label>House Number</label><br>
        <input type="text" required name="House_No" placeholder="36/271">
      </div>
      
      <input type="submit">
  </form>
</form>