<!DOCTYPE html>
<html>
  <head>
    <title>Application Submitted</title>  
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}

    <div class="container">
      <h1 class="text-center mt-2 mb-4">
        Eco Cycle
      </h1>

      <p>Your application for purchase of <b>{{ product.p_name }}</b> from Eco_cycle has been submitted!</p>

      <b>Full Name</b>
      <div class="mb-2">{{application['full_name']}}</div>

      <b>Email</b>
      <div class="mb-2">{{application['email']}}</div>

      <b>Phone Number</b>
      <div class="mb-2">{{application['phone_no']}}</div>

      <b>Address</b>
      <div class="mb-2">{{application['Address']}}</div>

      <b>House Number</b>
      <div class="mb-2">{{application['House_No']}}</div>
      
    </div>
    {% include 'footer.html' %}
  </body>
</html>