<!DOCTYPE html>
<html>

  <head>
    <title>Eco cycle</title>
    {% include 'bootstrap.html' %}
    
  </head>
  
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    
    <div class="container">
    <!-- <h1 class="text-center mt-2 mb-4>" > Eco Cycle</h1> -->
      
    
      
    
    
  </head>

  <!-- <div class="text-center">
    <button class="btn btn-primary btn-sm">Schedule Pickup </button>
  </div> -->
    
    <h4 class="text-center mt-2 mb-4">Services offered</h4>
    <div>
      
      {% for product in products %}
      {% include 'productitem.html' %}
      {% endfor %}
     </div>  
    <!-- <h5 class="text-center mt-2 mb-4">Testimonials</h5> -->
    <h5 class="text-center mt-2 mb-4">About us</h5>
    
    
    </div>
      <p class="lead text-center mt-2 mb-4">

        We are the best Waste management company in the country. You cannot find any other waste management company in the country. Our mission is to deliver the best waste management services to our customers. We are committed to delivering quality waste management services to our customers. We are committed to delivering quality waste management services to our customers. We are committed to delivering quality waste management services to our customers.

      </p>
      {% include 'footer.html' %}
        
  </body>
    
</html>