<!DOCTYPE html>
<html>

  <head>
    <title>Eco cycle</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
      #banner {
      height: 70%;
      width: 100%;
      object-fit: cover;
      }
    </style>
  </head>
  
  <body>
    {% include 'nav.html' %}
    <img class="img-fluid mb-3" id="banner" src="https://seproject.akashrshakya99.repl.co/static/waste.webp" height = "320">
    <div class="container">
    <!-- <h1 class="text-center mt-2 mb-4>" > Eco Cycle</h1> -->
      
    
      
    
    
  </head>

  <div class="text-center">
    <button class="btn btn-primary btn-sm">Schedule Pickup </button>
  </div>
    
    <h4 class="text-center mt-2 mb-4">Services offered</h4>
    <div>
        {% for product in products %}
      {% include 'productitem.html' %}
      {% endfor %}
     </div>  
    <h5 class="text-center mt-2 mb-4">Testimonials</h5>
    <h5 class="text-center mt-2 mb-4">About us</h5>
    
    <p class="lead text-center mt-2 mb-4">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Erat pellentesque adipiscing commodo elit at imperdiet dui accumsan sit. Neque gravida in fermentum et sollicitudin ac orci phasellus. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus. Duis ut diam quam nulla porttitor massa id neque. Egestas congue quisque egestas diam. Ut tristique et egestas quis ipsum suspendisse ultrices gravida. Et odio pellentesque diam volutpat. Ac tincidunt vitae semper quis lectus nulla at volutpat diam. Leo integer malesuada nunc vel risus commodo.

    </p>
    </div>
    <div class="text-center">
      <button class="btn btn-primary btn-sm">contact us</button>
      
      {% include 'footer.html' %}
    </div>
    
  </body>
    
</html>