<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ product.p_name }} - Eco Cycle</title>
    <link rel="stylesheet" href="styles.css">
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    
    <div class="container">
      <header>
        <h1>{{ product.p_name }}</h1>
        <p class="lead">{{ product.p_description }}</p>
        <p class="lead"> Rs. {{product.price}}</p>
      </header>
      
      {% include 'application_for_buy.html' %}
    </div>
    
    {% include 'footer.html' %}
  </body>
</html>